{% extends 'base.html' %}
{% block title %}Detalle de página{% endblock %}
{% block content %}
<div class="container mt-4">
  <div class="card shadow-lg">
    {% if page.image %}
      <img src="{{ page.image.url }}" class="card-img-top" alt="{{ page.title }}">
    {% endif %}
    <div class="card-body">
      <h2 class="card-title">{{ page.title }}</h2>
      <h5 class="card-subtitle mb-3 text-muted">{{ page.subtitle }}</h5>
      <p class="card-text">{{ page.content|safe }}</p>
      <p class="text-muted">
        <i class="fa-solid fa-user"></i> Autor: {{ page.author }} |
        <i class="fa-solid fa-calendar"></i> Fecha: {{ page.created_at }}
      </p>

      {% if user.is_authenticated %}
        {% if user.is_staff or user == page.author %}
            <div class="mt-3">
            <a href="{% url 'pages:update' page.pk %}" class="btn        btn-warning">
                <i class="fa-solid fa-pen"></i> Editar
            </a>
            <a href="{% url 'pages:delete' page.pk %}" class="btn        btn-danger">
                <i class="fa-solid fa-trash"></i> Borrar
            </a>
            </div>
      {% endif %}
     {% endif %} 
    </div>
  </div>

  <div class="mt-4">
    <a href="{% url 'pages:list' %}" class="btn btn-secondary">
      <i class="fa-solid fa-arrow-left"></i> Volver al listado
    </a>
  </div>
</div>
{% endblock %}